<div id="map" class="all-reports-map"></div>
<div class='custom-popup' id='map'></div>
<div>
  <ul id='marker-list'>
    <h4>Recent Reports</h4>
  </ul>
</div>


<%= content_for :extra_footer do %>
<% javascript_tag do %>
    $(function(){
      drawIndexReportMap();
    });
  <% end %>
<% end %>
