<div class="row">
  <%= render "form" %>
</div>
<div class="row">
  <div id="map" class="new-report-map gm-style"></div>
</div>

<%= content_for :extra_footer do %>
  <% javascript_tag do %>
    $(function(){
      drawNewReportMap();
    });
  <% end %>
<% end %>
