<div class="row" data-equalizer >
  <div class="small-12 medium-6 columns" data-equalizer-watch>
    <%= render "form" %>
  </div>
  <div class="small-12 medium-6 columns" data-equalizer-watch >
    <div id="map" class="new-report-map"></div>
  </div>
</div>

<%= content_for :extra_footer do %>
  <% javascript_tag do %>
    $(function(){
      drawNewReportMap();
    });
  <% end %>
<% end %>
