<div class="row">
  <div class="small-12 columns">
    <%= @report.category.name %>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    Coordinates: <%= @report.latitude %>, <%= @report.longitude %>
  </div>
</div>
